@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  font-family:"Poppins", sans-serif;
  color:#313030a9;
  font-weight: 300;
  text-decoration: none;
}

.shadow-custom {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25), 0 3px 20px 3px rgba(0, 0, 0, 0.08) !important;

}





.danger {
background-color: rgba(255, 0, 0, 0.801);
line-height: normal;
width: 40px;
height: 5px;
border-radius: 20%;
border: .5px white;
cursor: pointer;
box-shadow: inset 0 1px 6px #df3e3e;
}

.success {
background-color: #15f36a;
color:#fcfcfc;
font-size: 30px;
line-height: normal;
width: 35px;
height: 35px;
border-radius: 5%;
cursor: pointer;
box-shadow: 0 1px 5px #4d4b4b31;

}










